.buySellContainer {
    width:100%;
    max-height:420vh; 
    overflow: hidden;
    display: grid;



}
.buySell {
    width:100%;
    height:90vh;
    display: flex;
    

}
.hotCryptos {
    width:50%;
    height:90%;
    align-self: center;
    display: grid;
    grid-template-rows: 20% 80%;
}
.hotCryptos h1 {
    font-size: 2.5em;
    justify-content: center;

    align-self: flex-end;
    margin-bottom: 1em;
}
.cryptosContainer {
    width:85%;
    height:80%;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.225);;
}
.calculator {
    width: 40%;
    margin-left: 5%;
    height: 85%;
    align-self: center;
    border-radius: 2em;


    display: grid;
    grid-template-rows: 13% 72% 15%;

}

.actionType {
    width: 100%;
    height: 100%;
    display: flex;
}

.buy, .sell {
    width: 50%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    display: grid;
    align-items: center;
    color:rgba(255, 255, 255, 0.352);
    text-align: center;

}
.activeAction:after {
    content : "";
    height  :100%;
    width   : 60%; 
     /* or 100px */
     right:0;
     justify-self: center;
    border-bottom:1px solid rgb(255, 179, 0);
  }
.activeAction {
    font-size: 1.7em;
    color:  rgb(255, 179, 0);
    
}



.inputContainer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
  
    box-sizing: border-box;


}
.inputAmount {
    width:80%;
    height:22%;
    margin-top: 5%;
    justify-self: center;
    align-self: center;
    border-radius: 1em;
    border:.5px solid rgba(255, 255, 255, 0.234);
    display: grid;
    grid-template-rows: 40% 60%;
}
.inputAmount h5 {
    display: block;
    margin:0;
    padding-left: 5%;
    align-self: flex-end;
}
.inputChoiceRow {
    width:100%;
    height:100%;
    display: flex;

    align-items: center;
    justify-content: space-around
}
.inputAmount:focus{
    border: 1px solid orange;
}
.inputAmount:hover {
    border: 1px solid orange;
}
.inputChoiceRow input {
    width: 60%;
    height: 60%;
    font-size: 1.55em;
    color: white; /* Text color for user input */
    background-color: transparent;
    border: none;
    
}
.inputChoiceRow input[type="number"] {
    -moz-appearance: textfield;
}
.inputChoiceRow input::-webkit-outer-spin-button,
        .inputChoiceRow input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


.inputChoiceRow input::placeholder {
    font-weight: 550;
    color: rgba(255, 255, 255, 0.352); /* Placeholder text color */
}
.inputChoiceRow input:focus {
    outline: none;
}
.placeholder {
    width:20%;
    height:60%;
background-color: rgba(255, 255, 255, 0.191);;
}
.buttonContainer {
    width:100%;
    height:100%;
    
    display: grid;

}
.buttonContainer button{
    width:80%;
    height:75%;
    justify-self: center;
    background-color: rgb(255, 179, 0);
    border-radius: 1em;
    font-size: 1.5em;
}
.howToBuyContainer {
    height:50vh;
    margin-top: 15vh;

    display: grid;
    width:100%;
    grid-template-rows: 25% 75%;


}
.howToBuyContainer h1 {
    margin: 0;
    font-size: 3em;

}
.buyingSteps {
    height:100%;
    width:100%;
    display: flex;

    justify-content: space-between
}
.step {
    width:30%;
    height:100%;
    display: grid;
    border: 1px solid rgba(255, 255, 255, 0.234);
    border-radius: 5%;
    grid-template-rows: 40% 15% 55%;
    
}
.step img {
    width:30%;
    align-self: flex-end;
    margin-left: 7%;
}
.step h4 {
    margin-left: 7%;
    font-size:1.3em;
    font-weight: 700;

}
.step h5{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1em;
    font-weight: 300;
}
