.newsContainer {
  width: 90%;
  justify-self: center;
  min-height: 250vh;
  margin-top: 5vh;
  display: flex;
  margin-bottom: 15vh;

}
.newsChoices {
  width: 20%;

  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsContent {
  width: 50%;
  height: 100%;
  background-color: chocolate;
}

.profile {
  width: 90%;

  height: 10%;
  margin-bottom: 5%;
  align-self: center;

}

.newsMenu {
  width: 90%;
  height: 40%;
    display: grid;
    row-gap: 5%;
    margin-left: 5%;

}
.inactiveNewsTabs {
    width:80%;
    height:100%;
    padding : 0 8%;
    border-radius: .8em;
    color:rgba(255, 255, 255, 0.539);
    fill:rgba(255, 255, 255, 0.539);
    justify-self: center;
    align-items: center;
    gap:5%;
    display: flex;
    transition: background-color .3s ease-in-out

}
.inactiveNewsTabs:hover {
    background-color: rgba(255, 255, 255, 0.159);
    cursor: pointer;
   
}
.activeNewsTab {
    width:80%;
    height:100%;
    padding : 0 8%;
    border-radius: .8em;
    color:orange;
    justify-self: center;
    align-items: center;
    gap:5%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.159);
fill:orange;


}
.inactiveNewsTab h4 ,.activeNewsTab h4{
    font-size: 1.05em;
}