.newsContent {
    width:50%;
    min-height:250vh;
    border-radius: 1.35em;
    overflow: hidden;
    display: grid;

    grid-template-rows: 7.5vh auto 7.5vh;
}
.newsChoice {
    width:95%;
    justify-self: flex-end;
    gap: 5%;
    height:7.5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.166);;

}
.inactive {
    font-size: 1.1em;
    font-weight: 600;
    color: rgba(253, 253, 253, 0.485);
    cursor: pointer;


    
}
.active {
    cursor: pointer;
    font-weight: 600;
font-size: 1.2em;
    color:orange;
    transition: font-size 0.3s ease, color 0.3s ease

}
.news {
    width:95%;
    justify-self: center; 
    height:100%;
    transition: font-size 0.3s ease, color 0.3s ease;
    border:1px solid rgba(255, 255, 255, 0.251);
    border-radius: 1em;

}
.pagination {
    align-self: flex-end;
    height:7.5vh;
    background-color: blue;
}